<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Vue-calculator</title>
</head>

<body>
    <div id='app'>
        <div class="grid">
            <input v-on:keyup.enter='calc()' type="text" v-model='result' placeholder='0'>
            <button class='cell num' v-for='num in numbers' v-on:click='input(num)'>{{num}}</button>
            <button class='cell op' v-for='operation in operations' v-on:click='input(operation)'>{{operation}}</button>
            <button class='cell op' v-on:click='reset'>C</button>
            <button class='cell op' v-on:click='calc'>=</button>
        </div>
    </div>
</body>
<script src='main.js'></script>

</html>